cmake_install.cmake
CMakeCache.txt
Makefile
bin/*
*.dat
*.html
*.p
*.py
*.exe
*.txt
*_copy.csv
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
CMakeFiles/*